extends layout

block body
  .container(ng-controller='tweets')
    //- detail(key="4OBbhhgomfK9FbsJ",collection="tweets") {{text}}
    div(user="5oyDimuDuX4vJeeK") {{name}}
    form(ng-submit="add()")
      input(ng-model="tweet.text")
    span(ng-repeat="t in tweets") {{t.text}}
